<section id="home" data-type="background" data-speed="10">
  <article>
    <%= image_tag "kitten-2.jpg" %>
    <div class="info">
      <p>
        Halvah macaroon unerdwear.com. Jujubes oat cake chocolate bar. Icing gummies chocolate cake lemon drops jelly beans ice cream powder. Marshmallow jelly jelly cotton candy sweet icing bonbon gummi bears. Brownie oat cake powder muffin cotton candy. Toffee applicake danish. Pastry brownie marzipan muffin chocolate cake jelly cupcake pie. Pudding dragée chocolate cake sweet. Jelly-o dragée donut cookie bonbon wafer lemon drops bear claw.
      </p>
    </div>
  </article>
</section>

<section id="photo" data-type="background" data-speed="10">
  <h1>Photos</h1>
  <article>
  <%= image_tag "trees.jpg" %>
  <div class="info">
    <p>
      Sweet sweet roll gingerbread soufflé soufflé apple pie. Pudding liquorice sweet roll dragée topping dessert tart. Halvah marzipan tootsie roll sweet. Dragée jujubes danish jelly chocolate cake danish tiramisu biscuit pastry. Jelly marshmallow candy chocolate croissant powder. Sugar plum bonbon icing chocolate bar cupcake applicake jujubes cupcake cake. Donut wafer marzipan cheesecake. Dragée cotton candy caramels jujubes muffin apple pie cotton candy. Pudding biscuit macaroon gummies fruitcake gingerbread applicake oat cake. Candy canes jujubes dragée tiramisu sweet.
   </p>
  </div>
  </article>
</section>

<section id="video" data-type="background" data-speed="10">
  <h1>Video</h1>
  <article>
    <%= image_tag "horse.jpg" %>
    <div class="info">
      <p>
        Unerdwear.com sesame snaps croissant candy dragée. Chocolate chocolate powder danish bonbon fruitcake marzipan pudding. Halvah brownie pudding jelly-o donut chupa chups chocolate bar ice cream apple pie. Candy canes chocolate cake marzipan sesame snaps chupa chups. Pastry jelly-o soufflé gingerbread toffee marshmallow liquorice. Jelly beans carrot cake jelly bear claw oat cake cheesecake bonbon gingerbread chupa chups. Tootsie roll fruitcake bear claw muffin icing sugar plum soufflé soufflé jelly beans. Soufflé jelly beans jelly brownie tootsie roll dessert jelly beans marzipan pastry. Halvah cotton candy chupa chups cake gummi bears tart cupcake cheesecake chupa chups.
      </p>
    </div>
  </article>
</section>
