// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}

#home, #photo, #video {
  height: 800px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-top: 150px;
    font-size: 2.4em;
  }

}

#home article, #photo article, #video article {
  height: 300px;
  position: absolute;
  text-align: center;
  top: 420px;
  background: rgba(0,0,0,0.6);
  img {
    position: absolute;
    bottom: 248px;
    right: 38%;
  }
}

#home {
  background: url(image_path("kitty-1.jpg")) 50% 0 repeat fixed; min-height: 800px;
}

#photo {
  background: url(image_path("puppy-1.jpg")) 50% 0 repeat fixed; min-height: 800px;
}

#video {
  background: url(image_path("ants-1.jpg")) 50% 0 repeat fixed; min-height: 800px;
}

.notice, .alert, h1 {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}


div.info {
  margin: 80px 100px 50px 100px;
  p {
    color: #c0c0c0;
  }
}
